# Python
**/__pycache__/
*.py[cod]
*.egg-info/
*.log

# Airflow
airflow.db
logs/
unittest.cfg

# Environnement
.env
*.env

# Secrets
dags/config/credentials.yml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#fichier sensible
dags/utils/patients.py

