# Python
**/__pycache__/
*.py[cod]
*.egg-info/
*.log
*.pyc

# Airflow
airflow.db
logs/
unittest.cfg

# Environnement
.env
*.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#fichier sensible
utils/patients.py

